<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="lib/bootstrap.min.css">
        <style>
            .wrapper{
                width: 200px;
                margin: 30px auto;
            }
            
            .err{
                color: #a10;
            }
    
        </style>
    </head>


    <body ng-app="myApp" ng-controller="MainController">

<div class="wrapper">

    <h2>注册</h2>

        <form name="signUpFrom" ng-submit="submitFrom()">

           <div class="form-group" ng-class="{'has:success':signUpFrom.username.$valid}">
               <label>用户名：</label>
               <input name="username"
                type="text" 
                class="from-control"
                ng-model="userdata.username"
                ng-minlength="4"
                ng-maxlength="16"
                required>

                <p class="err" ng-if="signUpFrom.username.$error.required
                &&signUpFrom.username.$touched">用户名不能为空</p>

               <p class="err" ng-if="(signUpFrom.username.$error.minlength
               ||signUpFrom.username.$error.maxlength)
               &&signUpFrom.username.$touched">用户名长度应在4到16位</p>
               </div> 

               <div class="form-group" ng-class="{'has:success':signUpFrom.password.$valid}">
               <label>密码：</label>
               <input name="password" 
               type="password" 
               class="from-control"
               ng-model="userdata.password"
               ng-minlength="6"
               ng-maxlength="255"required>

               <p class="err" ng-if="signUpFrom.password.$error.required
               &&signUpFrom.password.$touched">密码不能为空</p>

               <p class="err" ng-if="(signUpFrom.password.$error.minlength
               ||signUpFrom.password.$error.maxlength)
                &&signUpFrom.password.$touched">密码长度在6到255位</p>
               </div> 

               <div class="form-group" ng-class="{'has:success':signUpFrom.password2.$valid}">
               <label>确认密码：</label>
               <input name="password2"
                type="password"
                 class="from-control"
                 ng-model="userdata.password2"

                 compare="userdata.password"
                 
                 required><!-- compare新建标签 -->
               <p class="err" ng-if="signUpFrom.password2.$error.compare
               &&signUpFrom.password2.$touched">两次密码不相等</p>
               </div> 

               <div class="form-group">
               <button class="btn btn-primary">注册</button>
               </div> 
        </form>
</div>



        <script src="lib/angular.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>